<div class="pane-head">
    <button type="button" class="close" data-ng-click="panels.close();">×</button>
</div>
<div>
    <h1>Create Veloprovement</h1>
    <div>
        <label>Name: </label>
        <input type="text" id="createVeloprovementName" placeholder="Name" ng-model="name" required/>
    </div>
    <div>
        <label>Description: </label><br />
        <textarea id="createVeloprovementDescription" placeholder="Description" ng-model="description" cols="50" rows="4"></textarea>
    </div>
    <div>
        <button class="btn btn-primary" type="button" ng-click="saveImprovement()">Save</button>
    </div>
</div>
