<div class="pane-head">
    <button type="button" class="close" data-ng-click="panels.close();">×</button>
</div>
<div>
    <h1>Edit Veloprovement</h1>
    <div>
        <label>Name: </label>
        <input type="text" name="veloprovementName" placeholder="Name" ng-model="name" required/>
    </div>
    <div>
        <label>Description: </label><br />
        <textarea name="veloprovementDescription" placeholder="Description" ng-model="description" cols="50" rows="4"></textarea>
    </div>
    <div ng-if="isAuthenticated()">
        <div>
            <button class="btn btn-primary" type="button" ng-click="">Update</button>
            <button class="btn btn-danger" type="button" confirmed-click="deleteImprovement()" ng-confirm-click="Would you like to delete this veloprovement?">Delete</button>
        </div>
    </div>
</div>
