<div class="pane-head">
    <button type="button" class="close" data-ng-click="panels.close();">×</button>
</div>
<div>
    <h1>Login</h1>
    <form name="loginForm" ng-submit="login(credentials)" novalidate>
        <label for="username">Username:</label>
        <input type="text" id="username" ng-model="credentials.username">
        <label for="password">Password:</label>
        <input type="password" id="password" ng-model="credentials.password">
        <button type="submit">Login</button>
    </form>
</div>
